header {
    position: fixed;
    background-color: #324043;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
    text-transform: uppercase;
}

header img {
    width: 45px;
    height: 60px;
    padding-left: 120px;
}

.header-nav-ul-li {
    margin: 30px;
}

.header-nav-ul-li-a {
    color: #c2401c;
    text-decoration: none;
    font-weight: 600;
    font-size: .85rem;
    padding-right: 40px;
}

body {
	padding-top: 65px;
	width: 100%;
	margin: auto;
    font-family: 'Dodko', cursive;
    color: black;
    background-color: #c2401c0e;
}

h1 {
    letter-spacing: .05em;
    text-align: center;
    font-size: 50px;
    color: #c2401c;
    text-shadow: 3px 3px 8px black;
}

h3 {
    font-size: 2em;
    padding-left: 40px;
    color: #c2401c;
}

h3 a {
    font-size: 1em;
    padding-left: 40px;
    color: #c2401c;
    text-decoration: none;
}

h3 a:hover {
    color: teal;
    transition: 0.6s;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.div-intro {
    margin-left: 90px;
}

.section-intro {
    width: 90%;
    margin: auto;
}

.section-div-intro {
    border-left: 5px solid #c2401c;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 30px;
    display: block;
}

.section-films {
    border: 1px solid #c2401c;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    width: 90%;
    align-self: center;
    margin: auto;
}

.section-div-films {
    display: flex;
    text-align: center;
    margin: 20px;
}

.section-div-films-img-a {
    width: 40%;
}

.section-final {
    width: 90%;
    margin: auto;
}

.div-talents, .div-lived, .div-costars, .div-awards {
    color: black;
    display: flex;
    font-family: 'Dokdo', cursive;
    font-size: 30px;
    margin-top: 10px;
    border: 1px #c2401c solid;
    justify-content: space-between;
}

.div-talents-ul {
    padding-right: 10px;
}
.div-lived-ul {
    padding-right: 300px;
}
.div-costars-ul {
    padding-right: 460px;
}
.div-awards-ul {
    padding-right: 50px;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 40px;
    width: 85%;
}

#robin {
    float: right;
    margin: 10px;
    width: 50%;
    border: 3px solid #c2401c;
    box-shadow: 10px 8px 30px goldenrod;
}

a:hover {
    color: white;
    transition: 0.5s;
}

#footer {
    height: 50px;
    background-color: #324043;
    margin-top: 20px;
    width: 100%;
    font-family: 'Dodko', cursive;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-content: center;
}

footer a {
    margin: 100px;
    color: #c2401c;
}

.fab {
    padding-top: 10px;
}

footer a:hover {
    color: white;
    transition: 1s;
}