
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,rgb(143, 63, 196));;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li#robinA a:hover {
    background-image: url(images/robina.jpg);
  }

  li#robinB a:hover {
      background-image: url(images/robinb.jpg);
  }

  li#robinC a:hover {
      background-image: url(images/robinc.jpg);
  }

  li#robinD a:hover {
      background-image: url(images/robind.jpg)
  }

header {
    border: solid 4px #c2401c;
    background-color: #324043;
    color: white;
}

div.newsContent {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-content: center;
    border-top: solid 1px #324043;
    border-bottom: solid 1px #324043;
    background-color: antiquewhite;
}
body {
    background-color: #c2401c;
    color: #324043;

}

.newsContent {
  align: center;
}

footer {
  border: solid 4px #324043;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,rgb(143, 63, 196));
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 22px;
  width: 22px;
  position: relative;
  margin: 4px 10px 0 10px;
} 

h1 {
  text-align: center;
  background-color: #324043;
  border: 1px green solid;
  margin-left: 20px;
  margin-right: 20px;
  font-family:'Fascinate Inline', cursive;
  color: white;
}