body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}


header {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 90, 90);
    width: 110%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 70px;
    justify-content: space-around;
    align-content: center;
    z-index: 1000;
    
}

h1{
    color: rgb(216, 126, 9);
}

header nav {
    display: flex;
    margin: auto;
}

header a {
    font-size: 30px;
    text-decoration: none;
    border: 2px solid rgb(216, 126, 9);
    color: white;
    margin: 0 20px 0 20px;
    padding: 5px;
    height: 35px;
    margin-top: 10px;
    position: relative;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: background-size .8s, color .8s;
    background-size: 0% 0%;
}

header a:hover {
    background-size: 100% 100%;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    

}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.heading img {
    position: relative;
    margin-top: 62px;
    border: 4px solid rgb(216, 126, 9);
    padding: 2px;
    width: 100%;
}
.heading h1{
    justify-content: center;
    text-align: center;
    align-content: center;
    text-decoration: underline;
    font-size: 60px;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid rgb(216, 126, 9);
    width: 30%;
    margin: auto;
}

.wife {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.wife div {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(216, 126, 9);
    height: 400px;
    margin: 4px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
}

.wife img {
    width: 350px;
    height: 300px;
    margin: 0 5px 5px 5px;
}

.wife p {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 65px;
    color: rgb(216, 126, 9);
}

footer {
    display: flex;
    background-color: rgb(0, 90, 90);
    margin: 0px;
    padding: 0px;
    color: black;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin: 0 20px 0 20px;
    padding: 5px;
    height: 10px;
    margin-bottom: 2px;
    align-content: center;
    margin-top: 7px;
}