body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: rgba(255, 235, 222, 0.281);
    font-family: Arial, Helvetica, sans-serif;
    
}

.top {
    height: 35px;
    width: 100%;
    background-color: rgba(43, 74, 76, 0.575);
    z-index: 10000;
    margin: 0;
    position: relative;
    margin-top: -10px;
    padding: 0;
    border: 0;

}

.icon {
    height: 22px;
    width: 22px;
    position: relative;
    margin: 4px 10px 0 10px;
} 

.links {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgba(102, 173, 179, 0.904);
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 85px;
    justify-content: space-around;
    align-content: center;
    z-index: 1000;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.6), 0 0 30px 0 rgba(0, 0, 0, 0.19);
    
}

h1{
    color: rgb(202, 78, 1, .900);
}

header nav {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

header a {
    font-size: 30px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.900);
    margin: 0 20px 0 20px;
    padding: 5px;
    height: 35px;
    margin-top: 16px;
    position: relative;
    padding: 3px;
    border: 2px solid rgba(43, 74, 76, 0.575);
    transition: box-shadow .3s;
}

header a:hover {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3), 0 0 20px 0 rgba(0, 0, 0, 0.14);
}

header a:active{
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.33);
}


.content {
    display: flex;
    justify-content: center;
    align-content: center;
    

}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.heading img {
    position: relative;
    margin-top: 62px;
    padding: 2px;
    width: 100%;
}
.heading h1{
    justify-content: center;
    text-align: center;
    align-content: center;
    text-decoration: underline;
    font-size: 60px;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid rgb(202, 78, 1);
    width: 30%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 9px 0 rgba(0, 0, 0, 0.7);
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.800);
}

.wife {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-bottom: 100px;
}

.wife div {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(202, 78, 1);
    height: 400px;
    margin: 4px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 9px 0 rgba(0, 0, 0, 0.7);
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.800);
}

.wife img {
    width: 350px;
    height: 300px;
    margin: 0 5px 5px 5px;
}

.wife p {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 65px;
    color: rgb(202, 78, 1, 0.900);
}

footer {
    display: flex;
    background-color: rgb(102, 173, 179, .920);
    margin: 0px;
    padding: 0px;
    color: black;
    height: 35px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin: 0 20px 0 20px;
    padding: 5px;
    height: 10px;
    margin-bottom: 2px;
    align-content: center;
    margin-top: 7px;
}