body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #c2401c0e;
    font-family: Arial, Helvetica, sans-serif;
    
}

p::selection {
    background-color: #c2401c73;
}

li::selection {
    background-color: #c2401c73;
}

h1::selection {
    background-color: #c2401c73;
}

.top {
    height:s 35px;
    width: 100%;
    background-color: #324043;
    z-index: 10000;
    margin: 0;
    position: relative;
    margin-top: -10px;
    padding: 0;
    border: 0;

}

.icon {
    height: 22px;
    width: 22px;
    position: relative;
    margin: 4px 10px 0 10px;
} 

.links {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #324043bd;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 85px;
    justify-content: space-around;
    align-content: center;
    z-index: 1000;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.6), 0 0 30px 0 rgba(0, 0, 0, 0.19);
    
}

h1{
    color: #c2401c;
    margin-top: 80px;
    text-decoration: none;
    margin-bottom: 10px;

}

header nav {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

header a {
    font-size: 30px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.900);
    margin: 0 20px 0 20px;
    padding: 5px;
    height: 35px;
    margin-top: 16px;
    position: relative;
    padding: 3px;
    border: 2px solid rgba(20, 35, 36, 0.829);
    transition: box-shadow .3s;
    background-color: #324043d2;
}

header a:hover {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3), 0 0 20px 0 rgba(0, 0, 0, 0.14);
}

header a:active{
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.33);
}


.content {
    display: flex;
    justify-content: center;
    align-content: center;
    

}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.heading img {
    position: relative;
    margin-top: 10px;
    
    margin: auto;
    padding: 2px;
    margin-bottom: 20px;
    width: 66%;
}
.heading h1{
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid #c2401c;
    width: 30%;
    margin-top: 200px;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 9px 0 rgba(0, 0, 0, 0.7);
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.800);
    color: rgb(0, 0, 0, .6);
    transition: transform .6s, box-shadow .8s, color .8s;
}

.info:hover {
    transform: scale(1.1) translateY(20px) ;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3), 0 3px 16px 0 rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0, .87)
}



.wife {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    margin-bottom: 100px;
}

.wife div {
    display: flex;
    flex-direction: column;
    border: 2px solid #c2401c;
    height: 400px;
    margin: 3px;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 9px 0 rgba(0, 0, 0, 0.7);
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.600);
    transition: transform .6s, box-shadow .8s, color .8s, background-color .6s;
    color: rgba(0, 0, 0, 0.6);
}

.wife div:hover {
    transform: scale(1.25);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3), 0 0 35px 0 rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
}

.wife .test:hover {
    transform: scale(2);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15), 0 0 70px 0 rgba(0, 0, 0, 0.07);
}

.wife img {
    width: 350px;
    height: 300px;
    margin: 0 5px 5px 5px;
}

.wife p {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 65px;
    color: #c2401c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    display: flex;
    background-color: #324043dc;
    margin: 0px;
    padding: 0px;
    color: black;
    height: 35px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin: 0 20px 0 20px;
    padding: 5px;
    height: 10px;
    margin-bottom: 2px;
    align-content: center;
    margin-top: 7px;
}

.fam {
    width: 70%;
}