* {
    font-family: Arial, Helvetica, sans-serif;
}   

p {
    color: gray;
}
    
body {
    background-color: whitesmoke;
    margin: 0;
}

nav {
    background-color: #324043;
    height: 4em;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 0 2em 1em 0;
}

nav a:hover {
    color: orange;
}


/* main flex container */
.summary-main {
    display: flex;
    flex-flow: row wrap;
    margin: 3em 0 3em 0;
}

.summary-portrait {
    margin: 0 3em 0 3em;
    flex: 1 35em;
}

.summary-portrait h2 {
    margin-top: 0;
}

.summary-aliases ul {
    list-style-type: none;
}

.summary-aside {
    margin: 0 3em 0 3em;
    padding: 1em 3em 1em 3em;
    box-shadow: rgb(156, 154, 154) 0px 0px 15px 0px;  
    flex: 1 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    background: linear-gradient(
        to bottom,
        #324043,
        #332244 50%,
        #c2401c 50%,
        #c2401c
        );
    background-size: 100% 3em;
}

.robin-head {
    text-align: center;
}

#robin-png {
    width: 4.6em;
    position: absolute;
}

.button {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,rgb(143, 63, 196));
    font-size: 1.1em;
    color: white;
    padding: 0.5em;
    font-weight: 500;
}

.button:hover {
    transform: scale(1.06); 
    cursor:pointer;
}

.info {
    display: flex;
    flex-flow: row nowrap;
    margin: 2em 0 2em 0;
}

.info div {
    margin-right: 2em;
}

.summary-aside p {
    color: #324043;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}

.summary-aside h2 {
    color: white;
    z-index: 1;
}

#suspenders {
    width: 9em;
    position: absolute;
    top: 0px;
    left: 0.3em;
}

.collabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.collab-div {
    margin: 0.5em;
    background-color: white;
}

.collab-div a {
    text-decoration: none;
}

.collab-img {
    width: 15em;
    border: 3px solid white;
}

.collab-div:hover { 
    transform: scale(1.06); 
}

.summary-image {
    width: 12em;
    float: left;
    margin-right: 1em;
    border: 3px solid #c2401c;
}

h2 {
    color: #c2401c;
}

footer {
    background-color: #324043;
    height: 3em;
    display: flex;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 2em;
    text-transform: uppercase;
}

footer a:hover {
    color: orange;
}

.center-robin {
    text-align: center;
    padding: 1em;
}