* {
    font-family: Arial, Helvetica, sans-serif;
}   

p {
    color: gray;
}
    
body {
    background-color: whitesmoke;
    margin: 0;
}

nav {
    background-color: teal;
    height: 4em;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-right: 2em;
}

nav a:hover {
    color: orange;
}


/* main flex container */
.summary-main {
    display: flex;
    flex-flow: row wrap;
    margin: 3em 0 3em 0;
}

.summary-portrait {
    margin: 0 3em 0 3em;
    flex: 1 35em;
}

.summary-aliases ul {
    list-style-type: none;
}

.summary-aside {
    margin: 0 3em 0 3em;
    padding: 1em 3em 1em 3em;
    box-shadow: rgb(156, 154, 154) 0px 0px 15px 0px;  
    flex: 1 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.info {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2em;
}

.info div {
    margin-right: 2em;
}

.summary-aside p {
    color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
}

.collabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.collab-div {
    margin: 0.5em;
}

.collab-img {
    width: 15em;
    border: 3px solid orange;
}

.summary-image {
    width: 20em;
    float: left;
    margin-right: 1em;
    border: 3px solid orange;
}

h2 {
    color: orange;
}

footer {
    background-color: teal;
    height: 2em;
    display: flex;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 2em;
    text-transform: uppercase;
}

footer a:hover {
    color: orange;
}